@import "../jeet/index";

/* @include edit(); */

/************************
*		VARIABLES		*
************************/

@import url("http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500");
@import url("http://fonts.googleapis.com/css?family=Fira+Mono");


/*	Colors
************************/
$white: rgba(255,255,255,1);
$black: rgba(30,30,30,1);
$grey: rgba(150,150,150,1);
$green: #00bc8c;

/************************
*		TYPOGRAPHY		*
************************/

html, body, div, a, span{
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
	-webkit-tap-highlight-color: transparent;  // i.e. Nexus5/Chrome and Kindle Fire HD 7''
	outline: none !important;
}

body 	{
	font-family: "Fira Sans", Helvetica, Arial, sans-serif;
	color: $black;
	background-color: $white;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.6em;
	margin: 0px;
	text-align: left;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: inherit;
	overflow-x: hidden;
	word-wrap: normal;
	
	transition: font-size 0s !important;
}

.mononumber{
	font-family: "Fira Mono";
}

a	{
	color: $green;
	text-decoration: underline;
	
	transition: all 0.3s;
	
	&:hover	{
		color: $black;
		text-decoration: underline;
		cursor: pointer;
	}
}

b, strong	{
	font-weight: 500;
}

p	{
	margin-bottom: 0.7rem;
}



h3{
	font-weight: 500;
}


nav{
	line-height: 1.4em;
	font-weight: 300 !important;
	padding-bottom: 2em;
	padding-top: 2em;
	background-color: #f4f4f4;
}

.center{
	@include center(800px)
}

.logo{
	float: left;
}

.nameSettings{
	float: right;
}

section{
	margin: 4em;
	margin-top: 2em;
}

article{
	@include center(800px);
	box-sizing: border-box;
}

section header{
	background-color: transparent;
	width: 100%;
	border-bottom: 1px solid #c6c6c6;
	margin-bottom: 2em;
}

section header h1{
	font-weight: bold;
	line-height: 2em;
	padding-top: 0.5em;
}


.courseWrapper{
	@include col($ratios: 1, $cycle: 1);
	text-align: center;
	float: left;
	margin-bottom: 2em;
	
	& h2{
/*
    	text-align: left;
    	padding-left: 90px;
*/
    	font-size: 90%;
		transition: color 0.3s;
		color: #acacac;
		font-weight: 400;
		
		
		&:after{
    		content: " ▾";
    		opacity: 0;
    		font-weight: 100;
    		transition: all 0.3s;
		}
		
		&:hover:after{
    		opacity: 0.5;
		}
		
	}
	
	
	&.active h2:after{
    	content: " ▾";
    	opacity: 0;
	}
	
	
}

.course{
	line-height: 1.5em;
	font-weight: 100;
	font-size: 150%;
	color: #a6a6a6;
	padding: 1em 0px;
	background-color: rgba(244, 244, 244, 1);
	transition: color 0.3s;
	position: relative;
	
	&:hover{
		cursor: pointer;
		
		h2{
			color: #474747;
		}
		.course{
			color: #f44600;			
		}

        .numberwrapper{
    	    width: 120px;
        }
	}
	
}

.course.noFiles:hover{

    .rightMenu{
	    width: 0px !important;
    }

}


.numberwrapper{
	float: left;
	width: 75px;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	color: white;
	overflow: hidden;
	background-color: rgba(50, 139, 55, 0.5);
	transition: width 0.2s ease-in-out, background-color 0.2s;
	
	&:hover{
		background-color: rgba(50, 139, 55, 0.9);
	}

	&.rightMenu{
		left: auto;
		float: right;
		font-size: 70%;
		right: 0px;
		font-weight: 300;
		width: 0px;
		color: black;
		background-color: rgba(255, 214, 48, 0.63);
		
		&:hover{
			background-color: rgba(255, 214, 48, 0.9)
		}
	}
	
	
}

	
.number{
	line-height: 75px;
	white-space: nowrap;
	@include center(both);
}

.readmore .number{
    line-height: 55px;
    text-align: center;
}


ul{
    display: none;
    list-style: none;
}

li{
    margin: 0;
    padding: 1em;
    padding-left: 90px;
    text-align: left;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
    
    transition: background-color 0.3s;
    
    &:hover{
        background-color: #fbfbfb;
        cursor: pointer;
        
        .download{
            background-color: rgba(50, 139, 55, 0.8);
        }
        
        .download.inactive{
        	background-color: rgba(191, 191, 191, 0.5);            
        }
        
        .numberwrapper{
            width: 120px;
        }
        
    }
    
}

li .category{
    float: left;
    opacity: 0.4;
    margin-left: 0.2em; 
    margin-right: 0.3em;
   
}

.download{
    position: absolute;
    top: 0px;
    left: 0px;
	background-color: rgba(50, 139, 55, 0.5);
    float: left;
    width: 75px;
    height: 55px;
    
    transition: background-color 0.3s;
    
}


.inactive{
    width: 75px !important;
	background-color: rgba(191, 191, 191, 0.5) !important;
}


.discardRight.inactive{
    width: 0px !important;
}
